.suscribe-button{
    background-color: rgb(255, 0, 0);
    height: 30px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.suscribe-button:hover {
    opacity: 0.8;
}
.suscribe-button:active {
    opacity: 0.5;
}
.join-button{
    background-color: white;
    border-width: 2px;
    border-color:  rgb(3, 90, 250);
    border-radius: 2px;
    border-style: solid;
    color: rgb(3, 90, 250);
    font-weight: bold;
    height: 30px;
    width: 60px;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color 1s, color 1s;
}
.join-button:hover{
    background-color: rgb(3, 90, 250);
    color: white;
}
.join-button:active{
    opacity: 0.7;
}
.tweet-button{
    background-color: rgb(3, 150, 218);
    height: 30px;
    width: 80px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    transition: box-shadow 1s;
}
.tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

}
.tweet-button:active{
    opacity: 0.5;
}
.uber-button{
    background-color: black;
    color: white;
    border: none;
    width: 110px;
    height: 40px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 1s, color 1s;
}
.uber-button:hover{
    background-color: yellow;
    color: black;
}
.uber-button:active{
    opacity: 0.5s;
}
.amazone-button{
    background-color: rgb(238, 238, 44);
    color: black;
    height: 36px;
    width: 140px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 1s, color 1s;
}
.amazone-button:hover{
    background-color: black;
    color:  rgb(238, 238, 44);
    box-shadow: 5px 5px 10px rgba(230, 37, 37, 0.5);

}
.amazone-button:active{
    opacity: 0.5;
}
.github-button{
    background-color: rgb(70, 187, 70);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 5px;
    vertical-align: top;
}
.bootstrap-button{
    background-color: rgb(154, 73, 179);
    color: white;
    height: 36px;
    width: 110px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.download-button{
    background-color: white;
    color: rgb(124, 122, 122);
    border-color: rgb(124, 122, 122);
    border-width: 1px;
    border-radius: 5px;
    height: 36px;
    width: 110px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2px;
}
.linkedin-button{
    background-color: rgb(73, 73, 243);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 18px;
    height: 36px;
    width: 220px;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.save-button{
    background-color: white;
    color: rgb(74, 74, 255);
    border-width: 1px;
    border-color: rgb(74, 74, 255);
    border-radius: 18px;
    height: 36px;
    width: 80px;
    font-weight: bold;
    margin-left: 3px;
    cursor: pointer;
}